page-login {
    .logo {
        margin-top: 10vh;
        margin-bottom: 10vh;
        width: 60vw;
        display: inline-block;
    }
    .button-clear {
        margin-bottom: 10vh;
        margin-top: 2vh;
    }
}
