page-profile {
  ion-avatar {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
    background-color: #eee;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
    width: 40vw;
    height: 40vw;
    border-radius: 50%;
    img {
      box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
      width: 40vw;
      height: 40vw;
      border-radius: 50%;
      background-color: #eee;
    }
    .button-default {
      width: 13vw;
      height: 13vw;
      position: absolute;
      bottom: -1vw;
      right: -1vw;
    }
  }
}