/* fira-mono-regular - latin */

@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Fira Mono Regular'),
  local('FiraMono-Regular'),
  url('#{$font-path}/fira-mono-regular.woff2') format('woff2'),
  /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('#{$font-path}/fira-mono-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* fira-mono-500 - latin */

@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 500;
  src: local('Fira Mono Medium'),
  local('FiraMono-Medium'),
  url('#{$font-path}/fira-mono-500.woff2') format('woff2'),
  /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('#{$font-path}/fira-mono-500.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* fira-mono-700 - latin */

@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 700;
  src: local('Fira Mono Bold'),
  local('FiraMono-Bold'),
  url('#{$font-path}/fira-mono-700.woff2') format('woff2'),
  /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('#{$font-path}/fira-mono-700.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}