.item-ios,
.item-md {
  padding-left: 0;
  border-bottom: 1px solid #e0e0e0;
  ion-avatar ion-img,
  ion-avatar img {
    &.large {
      height: 20vw;
      width: 20vw;
    }
  }
  &.item-label-stacked {
    border-bottom-width: 0;
  }
}

.item-input,
.item-select {
  border-bottom-width: 0;
  &.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
    border-bottom-width: 0;
    box-shadow: none;
  }
  ion-input,
  ion-select,
  ion-textarea {
    border: 2px solid #e0e0e0;
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;

    &[readonly] {
      background-color: color($colors, light);
    }
  }
  &.numeric {
    ion-textarea {
      font-family: 'Fira Mono';
    }
  }
}

.item-label-stacked .select-md,
.item-label-floating .select-md,
.item-label-stacked .select-ios,
.item-label-floating .select-ios {
  padding-left: 10px;
  padding-right: 16px;
}

.item-ios[detail-push] .item-inner,
button.item-ios:not([detail-none]) .item-inner,
a.item-ios:not([detail-none]) .item-inner {
  background-position: right 0 center;
}

.list-ios .item-block .item-inner, .list-md .item-block .item-inner {
  border-bottom-width: 0;
}

.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child,
.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
  border-bottom-color: transparent;
  box-shadow: none;
}

ion-datetime {
  border: 2px solid color($colors, light);
  height: 4rem;
  line-height: 4rem;
  border-radius: 8px;
  padding-left: 3rem;

  .datetime-text {
    line-height: 1;
  }
}

.item-label-stacked ion-datetime,
.item-label-floating ion-datetime {
  padding-left: .8rem;
}
