page-faq-detail {
  .item-ios, .item-md {
    p {
      margin-top: 0;
      line-height: 2.2rem;
      color: #111;
    }
  }
  .list-header-ios, .list-header-md {
    margin-top: 10px;
  }
  .label-ios, .label-md {
    margin: 0;
  }
}
