page-intro {
    .logo {
        margin-top: 12vh;
        width: 60vw;
        display: inline-block;
    }
    strong {
        display: block;
        text-transform: uppercase;
        margin-top: 1rem;
    }
    .button-clear {
        margin-bottom: 10vh;
        margin-top: 2vh;
    }
}
