.modal-wrapper page-success-message {
  background-color: rgba(0, 0, 0, 0.75);
  ion-header {
    text-align: center;
    background-color: transparent;
    left: 5vw;
    top: 22.5vh;
    width: calc(100% - 10vw);
    &:after {
      background-image: none;
    }
    .icon-header {
      background-color: #fff;
      border-radius: 50%;
      padding: 2vw;
      display: inline-block;
      margin: 0 auto;
      ion-icon {
        font-size: 30vw;
        line-height: 15vh;
      }
    }
    &.header-ios .icon-header {
      ion-icon {
        line-height: 14vh;
      }
    }
  }
  ion-content {
    top: 30vh;
    left: 5vw;
    width: calc(100% - 10vw);
    height: calc(100% - 47vh);
    border-radius: 15px;
    .scroll-content {
      margin-top: 10vh !important;
    }
    h1 {
      margin: 2vh 5vw;
      font-size: 2.4rem;
      font-weight: bold;
      text-transform: uppercase;
    }
    p {
      margin: 2vh 5vw;
      font-size: 1.6rem;
      line-height: 2.3rem;
    }
  }
  ion-footer {
    left: 5vw;
    bottom: 17vh;
    width: calc(100% - 10vw);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
  }
}